<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./js/index.js"></script>
</head>

<body>
    <div id="app">
        <div class="box">
            <select v-model="option">
            <option>请选择事件类型</option>
            <option v-for="(item,i) in optionList">{{item}}</option>
        </select>
            <input type="text" v-model='inputValue'>
            <button @click="reviselist" v-if="buttonname=='修改事件'">修改事件</button>
            <button @click="addlist" v-else>添加事件</button>
            <ul v-if="option=='全部事件'">
                <li v-for="(item,i) in lists">
                    <span :class="item.status==true? 'xian':''">{{item.name}}</span>
                    <button @click='deleteid(i)'>删除</button>
                </li>
            </ul>
            <ul v-if="option=='未完成事件'">
                <li v-for="(item,i) in lists" v-if="item.status==false">
                    <span>{{item.name}}</span>
                    <button @click='complete(i)'>完成</button>
                    <button @click='deleteid(i)'>删除</button>
                    <button @click="revise(item,i)">修改</button>
                </li>
            </ul>
            <ul v-if="option=='完成事件' ">
                <li v-for="(item,i) in lists " v-if="item.status==true ">
                    <span class="xian ">{{item.name}}</span>
                    <button @click='deleteid(i)'>删除</button>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>